{% extends "views/default.html" %}

{% block body %}

<article class="post-inner">
  <div class="post-content-outer">
    <div class="post-content-inner ">
      {% if cover %}<div class="post-intro">{% else %}<div class="post-intro-no-cover">{% endif %}
          <div class="post-title animate__animated  animate__fadeInUp">
           {{title}}
          </div>
          <div class="meta-intro animate__animated  animate__fadeInUp"><span class="intro-span">
             {{date.toLocaleDateString(undefined,{ weekday: 'long', year: 'numeric', month: 'long', day:
             'numeric' })}}
            </span></div>
          {% if cover %}
          <div class="post-cover animate__animated  animate__fadeInUp"><img src="{{cover}}}"
              class="post-cover-img"></div>
          {% endif %}
        </div>
        <div class="post-content-main animate__animated  animate__fadeInUp">

                {{ contents | safe }}
        </div>
      </div>
    </div>
</article>

{% endblock %}